body, html {
    color: white;
    background-color: black;
    font-family: 'Electrolize', sans-serif;
}

div.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.flexing {
    min-width: 400px;
    max-width: 90%;
    flex-basis: auto;
    flex-grow: 1;
}

img.banner{
    display: block; 
    max-width: 520px; 
}

img.pflag{
    width: 2em;
    height: 2em;
}

span.politick{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: larger;
}
